.side_menu {
  width: 100%;
  padding: 5%;
  & :hover {
    background: aquamarine;
  }
  .menu_item {
    width: 100%;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(5, 71, 71);
    cursor: pointer;
  }
}
